.Workouts {
  h2 {
    text-align: center;
  }

  .ExerciseList,
  .WorkoutBuilder {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  @media screen and(min-width:768px) {
    display: flex;

    .ExerciseList,
    .WorkoutBuilder {
      width: 50%;
    }
  }
}