.Modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(120, 120, 120, 0.7);

  .ModalClickable {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
  }
}