.HomePage {
  display: flex;
  align-items: flex-start;
  width: 90%;
  max-width: 700px;

  @media screen and (max-width: 767px) {
    flex-flow: column;
  }

  .Link {
    width: 100%;

    a {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #092577;

      .LinkImage {
        width: 300px;
        height: 200px;
      }

      p {
        text-align: center;
      }

      &:hover {
        color: #f97e05;
      }
    }
  }
}
