.GenInfo {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.Form {
  width: 90%;
  max-width: 320px;

  .ButtonContainer {
    text-align: center;
    position: relative;
    box-sizing: border-box;
    top: 20px;
  }

  .Field {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
  }
}
