.Button {
  min-width: 200px;
  border-radius: 5px;
  border: 1px solid #f97e05;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  background-color: #f97e05;
  color: #fff;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.45);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #fff;
    color: #f97e05;
    cursor: pointer;
  }
}